body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:627px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:627px;
}
#u71 {
  position:absolute;
  left:2px;
  top:306px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
