body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1313px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1313px;
  height:610px;
}
#u450 {
  position:absolute;
  left:0px;
  top:0px;
  width:1313px;
  height:610px;
}
#u451 {
  position:absolute;
  left:2px;
  top:297px;
  width:1309px;
  visibility:hidden;
  word-wrap:break-word;
}
